<div class="nav-bar">
    <nav>
        <ul>
          <img src="">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/About">About</a></li>
          <!-- <li><a routerLink="/login">Login</a></li> -->
          <!-- <a routerLink="/login" routerLinkActive="active">login</a> -->
          <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
          <li><a routerLink="/Product">Products</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <!-- <mat-icon>add_shopping_cart</mat-icon>
          <mat-icon>account_circle</mat-icon>
          <mat-icon>favorite</mat-icon> -->
        </ul>
      </nav>
</div>
