<section id="Home">
    <div class="container">
      <div class="container-text">
        <h1>ABOUT US</h1>
        <div class="sub-heading"><h2>Welcome to ,your ultimate destination for all things floral! We are passionate about spreading joy and love through the beauty of flowers.</h2></div>
        <!-- <div class="content"><p> Welcome to our enchanting world of blooms and blossoms! , where blooms come to life! <br>Discover a world of floral wonders that add beauty and joy to every moment.<br> Explore our exquisite arrangements, and let flowers tell your story. Embrace nature's artistry with us</p></div> -->
        <!-- <button mat-fab color="accent">shop Now</button> -->
        
      </div>
      
      </div>
      <div class="founder">
            <h1>FOUNDER</h1>
      </div>
    
      <div class="about-founder">
        <mat-card>
        <img class="image"src=\assets\About\smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space.jpg>
      </mat-card>
        <h3>EMILY JONSON</h3>
     
      </div>
      <div class="main-container"><h1>Why You Choose Us?</h1></div>
      <div class="content">
        <!-- <h1>Why You Choose US?</h1> -->
        {{content}}
        <img  class=side-image src=\assets\About\pexels-lorena-martínez-5949365.jpg>
      </div>
    
</section>
