<section id="product">
    <div class="main-container">
        <h2> LATEST PRODUCT</h2>
    </div>
    <div class="container">
        <mat-card>
        <img class="vase" src="\assets\product\flowers-background-copy-space.jpg">
        <div class="info">
            <h3>Flower Pot</h3>
            <span>$26</span>
        </div>
    </mat-card>
    <mat-card>
        <img class="vase" src="\assets\product\vase-with-beautiful-bouquet.jpg">
        <div class="info">
            <h3>Flower Pot</h3>
            <span>$26</span>
        </div>
    </mat-card>
    <mat-card>
        <img class="vase" src="\assets\product\vase-with-roses-table.jpg">
        <div class="info">
            <h3>Flower Pot</h3>
            <span>$35</span>
        </div>
    </mat-card>
    <mat-card>
        <img class="vase" src="\assets\product\vase-with-tulips-roses.jpg">
        <div class="info">
            <h3>Flower Pot</h3>
            <span>$30</span>
        </div>
    </mat-card>
    <mat-card>
        <img class="vase" src="\assets\product\vase-with-tulips-table.jpg">
        <div class="info">
            <h3>Flower Pot</h3>
            <span>$15</span>
        </div>
    </mat-card>
    <mat-card>
        <img class="vase" src="\assets\product\bouquet-roses-white-vase.jpg">
        <div class="info">
            <h3>Flower Pot</h3>
            <span>$20</span>
        </div>
    </mat-card>
   <!-- <app-footer></app-footer> -->
    </div>
</section>
