.card{
  box-shadow: 0 4px 6px #424242c4;
  font-family: 'EB Garamond', serif;
}
.card h2{
  padding:4px;
  font-family: 'EB Garamond', serif;
  font-size: 33px;
}
.heading{
  display:flex;
  justify-content: center;
  background-color: rgb(255, 227, 232);
  color:rgb(236, 46, 157);
  font-weight: 500;
  margin-top:29px;
  
}
.heading h1{
margin: 10px;
font-size: 30px;
}
.container{
  display: flex;
  justify-content: center;
  padding:15px;
}
mat-card{
  height:250px;
  width:330px;
  box-shadow: 5px 5px 10px #888888;
}
.intro{
    width:26%;
    margin:10px;
  }
  .intro h2{
    padding:4px;
    font-family: 'EB Garamond', serif;
    font-size: 33px;
  }
  .intro p{
    /* font-family: 'EB Garamond', serif;
    font-size:18px; */
    /* font-weight:500; */
    padding:13px;
  }
  .display-image{
    height:53px;
    width:51px;
    padding:10px;
  }
  /* .service mat-card{
    height:94px;
    width:275px;
  } */
 .info h3{
  margin:0px;
 }
 #icons{
  display:flex;
  justify-content: center;
  background-color: #e4e2e3;
  padding:20px;
 }
 .info{
  margin:10px;
  padding:10px;
 }