
<section id="Home">
<div class="container">
  <div class="container-text">
    <h1>Fresh Flowers</h1>
    <div class="sub-heading"><h2>Natural and Beautiful Flowers</h2></div>
    <div class="content"><p> Welcome to our enchanting world of blooms and blossoms! , where blooms come to life! <br>Discover a world of floral wonders that add beauty and joy to every moment.<br> Explore our exquisite arrangements, and let flowers tell your story. Embrace nature's artistry with us</p></div>
    <button mat-fab color="accent">shop Now</button>
  </div>
  </div>
<app-home-about></app-home-about>
<app-Home-product></app-Home-product>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->

</section>


